blacklist ~/*
blacklist ~/Desktop/
blacklist ~/Documents/
blacklist ~/Downloads/
blacklist ~/Music/
blacklist ~/Pictures/
blacklist ~/Public/
blacklist ~/Templates/
blacklist ~/Videos/
whitelist ~/.*
whitelist ~/Desktop
whitelist ~/Documents
whitelist ~/Downloads
whitelist ~/Music
whitelist ~/Pictures
whitelist ~/Public
whitelist ~/Templates
whitelist ~/Videos
nowhitelist ~/.Xauthority
